@import "../utils/mixins";

/* Footer */

.footer {
    background-color: #353535;
    margin: 0;
    padding: 20px;
    text-align: left;
    @include tablet {
        text-align: center;
    }
    &__logo {
        filter: invert(1);
        img {
            margin-top: 10px;
            width: 25%;
            max-width: 200px;
        }
    }
    &__list {
        margin-top: 12px;
        list-style-type: none;
        padding: 0;
        a {
            color: white;
            font-size: 15px;
            .fa-utensils {
                margin-right: 10px;
            }
            .fa-hands-helping {
                margin-right: 8px;
                font-size: 10px;
            }
        }
    }
}