@import "../utils/variables";

/* Loader */

.loader {
    background: $color-black;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    animation: loader 1.7s linear;
    visibility: hidden;
    &__bubblings {
        text-align: center;
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        position: fixed;
        z-index: 30;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: loader 1.7s linear;
        visibility: hidden;
    }
    &__bubbles {
        width: 6px;
        height: 6px;
        margin: 4px;
        background: $color-primary;
        border-radius: 32px;
        animation: bubbling 0.5s infinite alternate;
    }
}

#bubbling_1 {
    animation-delay: 0s;
}

#bubbling_2 {
    animation-delay: 0.15s;
}

#bubbling_3 {
    animation-delay: 0.30s;
}

@keyframes bubbling {
    0% {
        width: 6px;
        height: 6px;
        background-color: $color-primary;
        transform: translateY(0);
    }
    100% {
        width: 15px;
        height: 15px;
        background-color: $color-secondary;
        transform: translateY(-13px);
    }
}

@keyframes loader {
    0% {
        visibility: visible;
        opacity: 1;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}